{% extends "base.html" %}
{% block title %}
	<title>Registration</title>
{% endblock title %}
{% block menu %}
	<ul class="nav navbar-nav navbar-right">
       <li><a href="/login/">Login</a></li>
       <!-- <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
       </li> -->
     </ul>
{% endblock menu %}
{% block content%}
	<div class="container-fluid">
		<div class="row">
			<h2 class="text-center">Registration</h2>
		</div><br>
		<div class = "row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
			<form id="register">
				<div class="form-group">
				    <label for="firstname">First Name</label>
				    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
			  	</div>
				<div class="form-group">
				    <label for="lastname">Last Name</label>
				    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
			  	</div>
				<div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email">
			  	</div>
  		
		
				<div class="form-group">
				    <label for="Password1">Password</label>
				    <input type="password" class="form-control" id="Password1" name="password1" placeholder="Password">
				</div>
			  <div class="form-group">
			    <label for="Password2">Confirm Password</label>
			    <input type="password" class="form-control" id="Password2" name="password2" placeholder="Confirm Password">
			  </div>
  			</form>
  			<button type="button" class="btn btn-success submit">Submit</button>
  			
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script>
	$(".submit").click(function(){
		var data = $("#register").serializeArray();
		console.log(data);
		var data_json = {} 
		for(var i in data){
			data_json[data[i]["name"]] = data[i]["value"]
		}
		console.log(data_json);
		$.ajax({
			url:"/register/",
			type:"POST",
			data:JSON.stringify(data_json)
		}).done(function(msg){
			msg = JSON.parse(msg);
			if(msg["flag"] == "Success"){
				alert(msg["msg"]);
				window.location.href = "/";
			}
			else if(msg["flag"] == "Error"){
				alert(msg["msg"]);
			}
		});
	})
		
	</script>
{% endblock content%}